// icon-font
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body,button,input,select,option,td,textarea
{
  font: 12px/1.5 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  width: 100%;
  vertical-align: middle;
}

.block {
  display: block;
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}
